<body class="top-image">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h2 class="text-white mx-auto mt-2">無料キャンプ場をもっと身近に</h2>
      </div>
    </div>
    <div class="underlay-photo-top"></div>
  </div>
</body>
