<div class="top-wrapper">
  <div class="top-inner-text">
    <h2>無料キャンプ場を<br>もっと身近に利用しよう</h2>
    <!--検索フォーム-->
      <%= render 'shared/search_form', url: campsites_path, search: @search %>
  </div>
  <div class="underlay-photo"></div>
</div>
