<% flash.each do |message_type, message| %>
  <div id="flash" class="flash-message container alert alert-<%= message_type %>">
    <i class="fas fa-check-circle"> </i>
    <%= message %><button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>
