<footer id='footer' class='footer text-center my-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='col-md-12'>
          <%= link_to '利用規約', '#', class: 'text-muted'%>
          <span class="text-muted mx-2">|</span>
          <%= link_to 'プライバシーポリシー', '#', class: 'text-muted'%>
          <span class="text-muted mx-2">|</span>
          <%= link_to 'お問い合わせ', '#', class: 'text-muted'%>
          <p class='text-muted'>© 2021. CAMPHOOD</p>
        </div>
      </div>
    </div>
  </div>
</footer>
