<footer id="footer">
  <section class="primary">
    <p class="logo"><%= link_to root_path, 'data-turbolinks': false do %>CAMPHOOD<% end %></p>
    <p class="discription">
    全国の<b>無料キャンプ場</b>を検索できて、周辺施設や天気を案内するサービス
    </p>
    <div class="navi-row">
      <ul class="navi">
        <li><%= link_to terms_of_service_path do %>利用規約<% end %></li>
        <li><%= link_to privacy_policy_path do %>プライバシーポリシー<% end %></li>
        <li><a href="#">お問合わせ</a></li>
        <li><%= link_to '#' do %>キャンプマナー<% end %></li>
      </ul>
      <ul class="sns-navi">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </div>
  </section>
  <section class="secondary">
    <p class="copyright">Copyright &copy; CAMPHOOD 2021. All rights reserved.</p>
  </section>
</footer>
