<footer id="footer" class="footer text-center">
  <div class="container px-4 px-lg-5 text-white">
    <div class="container pt-2 px-4 px-lg-5 text-white-50">
      <%= link_to "#", class: 'text-white' do %>利用規約<% end %>
      ｜
      <%= link_to "#", class: 'text-white' do %>プライバシーポリシー<% end %>
      ｜
      <%= link_to '#', class: 'text-white' do %>お問い合わせ<% end %>
    </div>
    <p class="text-white">Copyright &copy; CAMPHOOD 2021.</p>
  </div>
</footer>
