<%= search_form_for search, url: url do |f| %>
  <div class="input-group mt-2 justify-content-center">
    <div class="col-sm-4">
      <%= f.collection_select :prefecture_code_eq, JpPrefecture::Prefecture.all, :code, :name,
      { include_blank: '都道府県を選択' }, { class: 'form-control text-muted custom-select' } %>
    </div>
  </div>
  <div class="col-auto d-inline-block">
    <%= f.button :type => "submit", :class =>"btn btn-success btn-s-md" do %>
    <i class="fa fa-search px-3"></i>
    <% end %>
  </div>
<% end %>
