/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "users_new";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "top";
@import "campsite";
@import "paginate";
@import "bookmark";
@import "profiles";

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  overflow:hidden;
}

body {
  background-color: #fff !important;
}

.flash-message {
  width: auto !important;
  position: absolute !important;
  top: 9%;
  right: 5%;
  text-align: right;
  position: fixed;
  margin-top: 2%;
  z-index: 100;
  opacity: 0.8;
  border-radius: 10px;
}

header {
  background: none;
  // headerを常時上に固定する
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;

  // ナビゲーションの項目を横並びにする
  ul {
    display: flex;
    justify-content: center;
    align-items: right;
  }
}

footer {
  margin-top: auto;
}
