// backgroundにアニメーションの画像を設定
.heart {
  width: 50px;
  height: 50px;
  background: url(heart_animation.png) no-repeat;
  background-size: 2800*0.5px 100*0.5px;
  background-position: 0 0;
  cursor: pointer;
  position: relative;
}

// アニメーションの開始と終了の定義
@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

//HeartAnimationクラスを持つ要素へアニメーションを付与
.HeartAnimation {
  display: inline-block;
  background-position: right;
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
}

.heart:hover .heart_hover {
  transition: 0.8s;                 /* インライン要素として表示 */
  display: inline;
  background-color: rgba(242, 100, 5, 1.0) ;  /* 背景色（透明度） */
  color: rgba(255, 255, 255, 0.8);
}
.heart_hover {
  position: absolute;                   /* 親要素を基準 */
  padding: 1px;                         /* テキストの前後の余白 */
  background-color: rgba(35, 12, 12, 0.0) ;  /* 背景色（透明度） */
  width: 150%;                          /* 吹き出し全体の幅 */
  left : -30%;                           /* 表示位置 */
  top : 80%;                           /* 表示位置 */
  font-size: 70%;                       /* 文字サイズ */
  color: rgba(255, 255, 255, 0.0);
}
