.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
  margin-bottom: 2px;
}

.card-radius {
  overflow: hidden;
  border-radius: 9px;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
}

.card__header a {
  color: #28a745
}

.card__header a:hover {
  color: #005731
}

.card__title {
  margin: 0 auto;
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__image {
  width: 100%;
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: .75rem;
}

.card__text + .card__text {
  margin-top: .5rem;
}

.card__text.-number {
  text-align: right;
}

.card__footer {
  padding: 1rem;
  border-top: 2px solid #ddd;
  position: relative;
}

@media screen and (max-width:990px) {
  table, tbody, tr, th, td {
    display: block;
    }
  th {
    width: 100% !important;
  }
}

.link-color a {
  color: #28a745;
}

.link-color a:hover {
  color: #005731;
}

.backimage {
  position: relative;
  background-image: image-url("backimage.jpg");
  background-position: center center;
  background-size: cover;
  height: 350px;
  margin-top: 21px;
}

// 天気予報のサイズと色の指定
@media screen and (max-width:990px) {
  .weather-font,
  .weather-date,
  .weather-description,
  .weather-time {
    font-size: small;
  }
}

.weather-temp-max {
  color: #ff4500;
}

.weather-temp-min {
  color: rgb(0,65,255);
}

.bg-change {
  background-color: #a0c4d3;
}

.weather-section {
  padding: 10px 10px;
  width: 100%;
  background-color: #f2f2f2;
  overflow-x: auto;
  white-space: nowrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.weather-time {
  font-weight: bold;
}

.weather-report {
  padding-left: 30px;
  margin-right: 50px;
}

.likebutton {
  position: absolute;
  top: 11%;
  right: 4%;
}

@media screen and (max-width:599px) {
  .likebutton {
  top: 82%;
  right: 4%;
  }
  .weather-report {
    padding-left: 15px;
    margin-right: 20px;
  }
  h4 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 0.9rem;
  }
}


.index-likebutton {
  position: absolute;
  top: 51%;
  right: 3%;
}


.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.btn-gradient-3d-orange:hover {
  color: #333;
  text-decoration: none;
}

.search-result {
  margin-top: 60px;
  padding-left: 30px;
}

@media screen and (max-width:599px) {
  .search-result {
    margin-top: 50px;
    padding-left: 30px;
    font-size: 0.8em;
  }
}
