.rating-box .ratings .far {
  font-size: 25px;
  color:#ffcc00;
  cursor: pointer;
}
.rating-box .ratings .fa {
  font-size: 25px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 19px;
}
