.top-image {
  background: image-url("bonfire.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: calc(100vh - 134px);
  position: relative;
}
