<% content_for(:title, t('.title')) %>
<% breadcrumb :guidance, @campsite %>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div id="msg" class="mt-3 mb-3"></div>
      <div id="gmap" class="mb-3"></div>
    </div>
  </div>
    <div class="col-12">
      <h4 class="text-center mb-3">周辺施設を検索</h4>
        <div class="row justify-content-center">
          <div class="col-md-4 d-inline-block mb-2">
            <select name="施設" id="keywordInput" class="form-control custom-select shadow">
              <option selected>施設を選択</option>
              <option value="supermarket">スーパー</option>
              <option value="convenience">コンビニ</option>
              <option value="homecenter">ホームセンター</option>
              <option value="bath">お風呂</option>
            </select>
          </div>
          <div class="col-md-4 d-inline-block mb-2">
            <select name="検索範囲" id="radiusInput" class="form-control custom-select shadow">
              <option value="3000">3 km 以内</option>
              <option value="5000" selected>5 km 以内</option>
              <option value="10000">10 km 以内</option>
            <select>
          </div>
          <div class="col-auto d-inline-block">
            <input type="button" value="検索" class="btn btn-success btn-s-md" id="nearby-search">
          </div>
        </div>
        <div class="mt-4" id="results"></div>
      </div>
  </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :GOOGLE_MAP_API_KEY) %>&callback=thisMap"></script>
