<% content_for(:title, t('.title')) %>
<div class="container px-4 px-lg-5 col-12">
  <div class="row">
    <% if @campsites.present? %>
      <%= render @campsites %>
    <% else %>
      <h3><%= t '.danger' %></h3>
    <% end %>
  </div>
  <%= paginate @campsites %>
</div>
