<% content_for(:title, t('.title')) %>
<div class="container px-4 px-lg-5 col-12">
  <div class="row">
    <div class="mt-5">
      <%= render 'shared/search_form', url: campsites_path, search: @search %>
    </div>
    <% if @campsites.present? %>
      <%= render @campsites %>
    <% else %>
      <h3><%= t '.danger' %></h3>
    <% end %>
  </div>
  <%= paginate @campsites %>
</div>
